In [1]:
import pandas as pd


file_path = '/content/Dataset .csv'
data = pd.read_csv(file_path)


data.dropna(subset=['City', 'Average_Rating'], inplace=True)


city_counts = data['City'].value_counts()


city_with_most_restaurants = city_counts.idxmax()
most_restaurants_count = city_counts.max()

print(f"City with the highest number of restaurants: {city_with_most_restaurants} ({most_restaurants_count} restaurants)")


average_ratings = data.groupby('City')['Average_Rating'].mean()


city_with_highest_rating = average_ratings.idxmax()
highest_avg_rating = average_ratings.max()

print(f"City with the highest average rating: {city_with_highest_rating} (Average rating: {highest_avg_rating:.2f})")

City with the highest number of restaurants: New Delhi (5473 restaurants)
City with the highest average rating: Inner City (Average rating: 4.63)